services:
  # Master Veritabanı (Yazma işlemleri)
  # 1. PostgreSQL MASTER Node
  # Dokümandaki "PostgreSQL master-slave replication" gereksinimi için
  # Tüm YAZMA (INSERT, UPDATE) işlemleri bu sunucuya yapılır.
  # Veriler buradan Slave node'a otomatik olarak kopyalanır.
  postgres-master:  
    image: bitnami/postgresql:15  # Replikasyon ayarları hazır olduğu için Bitnami imajı kullanıldı.
    container_name: agritrust-db-master
    ports:
      - "5432:5432"
    environment:
      - POSTGRESQL_REPLICATION_MODE=master
      - POSTGRESQL_REPLICATION_USER=repl_user
      - POSTGRESQL_REPLICATION_PASSWORD=repl_password
      - POSTGRESQL_USERNAME=agri_user  # Spring Boot'un kullanacağı ana kullanıcı.
      - POSTGRESQL_PASSWORD=agri_pass
      - POSTGRESQL_DATABASE=agritrust_db  # Projenin ana veritabanı ismi.
    volumes:
      - pg_master_data:/bitnami/postgresql  # Veriler konteyner silinse bile kaybolmasın (Persistence).
    networks:      
      - agritrust-net

  # Slave Veritabanı (Okuma / Yedek)
  # 2. PostgreSQL SLAVE Node
  # Master çökerse sistemin durmasını engeller (Fault Tolerance).
  # İstenirse sadece OKUMA (SELECT) işlemleri buraya yönlendirilerek yük dağıtılabilir.
  postgres-slave:
    image: bitnami/postgresql:15
    container_name: agritrust-db-slave
    depends_on:
      - postgres-master  # Master ayağa kalkmadan Slave çalışmasın.
    ports:
      - "5433:5432"
    environment:
      - POSTGRESQL_REPLICATION_MODE=slave
      - POSTGRESQL_REPLICATION_USER=repl_user
      - POSTGRESQL_REPLICATION_PASSWORD=repl_password
      - POSTGRESQL_MASTER_HOST=postgres-master
      - POSTGRESQL_MASTER_PORT_NUMBER=5432
      - POSTGRESQL_PASSWORD=agri_pass
    volumes:
      - pg_slave_data:/bitnami/postgresql
    networks:      
      - agritrust-net

  # 3. RabbitMQ (Message Broker)
  # "prevent request overload" için

  rabbitmq:
    image: rabbitmq:3-management  # Yönetim paneli (UI) içeren sürüm.
    container_name: agritrust-rabbitmq
    ports:
      - "5672:5672"  # Uygulama (Java) haberleşme portu.
      - "15672:15672"  # Tarayıcıdan yönetim paneli (http://localhost:15672).
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    networks:      
      - agritrust-net

volumes:
  pg_master_data:  # Master veritabanı dosyaları
  pg_slave_data:  # Slave veritabanı dosyaları


networks:
  agritrust-net:
    driver: bridge # Tüm konteynerlerin aynı ağda konuşmasını sağlar.